* {
    main-bg:            #1D202EE6;
    main-fg:            #AD584F;
    main-br:            #373F4E;
    main-ex:            #37383F;
    select-bg:          #423655;
    select-fg:          #E2DFD1;
}
